[
    {graph, [{port, 8081}]},
    {alog, [
        {enabled_loggers, [{syslog_log, alog_syslog}]},
        {flows, [
            {{mod, ['_']},{'=<', debug}, [{{syslog_log, alog_syslog}, alog_syslog}]}
        ]},
        {alog_syslog, [{ident, "alogger"},
                        {logopt, [cons, perror, pid]},
                        {facility, user}]}
    ]}
].
